@import "tailwindcss";


* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; */
    /* font-family: 'Space Grotesk', sans-serif; */
    font-family: 'Exo 2', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #9333ea #0f0b1e;
}

/* font-family: 'orbitron', sans-serif; */
html,
body {
    overflow-x: hidden;
}